<!-- app/views/words/_word_section.html.erb -->
<div class="word_section <%= section_class %>">
  <div class="<%= title_class %>"><%= title %></div>
  <div class="<%= content_class %>">
    <% words.each do |word| %>
      <p><%= link_to word.content, word_path(word) %></p>
    <% end %>
  </div>
</div>