<!DOCTYPE html>
<html>
  <head>
    <title>wordcanvas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <!-- navbar section -->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark py-3">
      <div class="container">
        <%= link_to root_path, class: "navbar-brand-text" do %>
          <h2 class="text-white pt-1">Word Canvas</h2>
        <% end %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "#{current_user.name}さん", user_path(current_user), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Vocabulary", words_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Message", root_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>

    <footer class="footer bg-light text-center py-3">
      <div class="container">
        <p class="mb-0">Copyright © WORD CANVAS All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>